{% extends 'base_layout.html' %}


{% block content %}

<ul>
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
  <li><a class="active" href="{% url 'issues:list' %}">Issue</a></li>
  <li><a href="{% url 'portfolio:list' %}">Project</a></li>
  <li><a href="{% url 'articles:list' %}">Note</a></li>
  <li style="float:right; margin-right:30px;"><a href="{% url 'contact' %}">Contact</a></li>
</ul>



<!-- container for a post -->
<div class="container" style="background: #d6d1c2; padding-top: 5px; padding-bottom: 3px;">
  <!-- row1 start -->
  <div class="row">
    <div class="col">
      <h2 class="card-title text-center">{{issue.title}}</h2>
    </div>
  </div>
  <!-- row2 start -->
  <div class="row">
    <div class="col-md-4">
      <img style="width: 25rem; height: 370px; padding: 0;" src="{{issue.thumb.url}}">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="float-right;">
        <p style = "font-size: 18px" class="card-text">{{issue.body}}</p>
        <p class="card-text"><small style = "font-size: 16px" class="text-muted">{{issue.date}}</small></p>
      </div>
      <div class="card-body" style="float-right;">
          <a href="{{issue.file.url}}">
          <button type="button" class="btn" style="background-color:#DAA520;">Press to see the Issue</button>
      </div>

    </div>
  </div>
  <!-- row2 end -->
  <!-- row3 -->
  <div class="row">
    <div class="col text-right">
      <small class="text-muted pull-right">
        <a href="{% url 'issues:list' %}" class="btn btn-outline-dark">Back to list</a>
      </small>
    </div>
  </div>
  <!-- row3 end -->
</div>
  <!-- container end -->


{% endblock %}
