{% extends 'base_layout.html' %}

{% block content %}

<ul>
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
  <li><a class="active" href="{% url 'issues:list' %}">Issue</a></li>
  <li><a href="{% url 'portfolio:list' %}">Project</a></li>
  <li><a href="{% url 'articles:list' %}">Note</a></li>
  <li style="float:right"><a href="{% url 'contact' %}">Contact</a></li>
</ul>

  <h2>Issue List</h2>
  <div class="issues">
    {% for issue in issues %}
      <div class="issue">
        <h3><a href="{% url 'issues:detail' issue.slug %}">{{ issue.title }}</a></h3>
        <p>{{ issue.shortbody }}</p>
        <p>{{ issue.date }}</p>
        <p class="author">posted by Yuni{{issue.author.username}}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
