
body{
  background: #c2baa3;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Open Sans Condensed', sans-serif; // font
}

.container-fluid {
  padding-top: 80px;
  padding-bottom: 80px;
  line-height: 40px;
}

.container-fluid-contact {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 3px;
}

.bg-1 {
  background-color: #c2baa3;
  color: black;
}
.bg-2 {
  background-color: #998c66;
  color: #ffffff;
}
.bg-3 {
  background-color: ##c2baa3;
  color: #555555;
}

ul {
  list-style-type: none;
  margin: 40;
  padding: 40;
  overflow: hidden;
  background: #ada385;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
li a:hover {
  background-color: #d9b38c;
}
.active {
  background-color: #bf8040;
}


.row{
  margin-top: 60px;
  margin-bottom: 40px;
}

.card-body{
  text-align: center;
}

.article-card{
  margin-right: 20px
}

.card-footer {
  text-align: center;
}

.about-body{
  padding: 20px 120px;
}
