{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

<ul>
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
  <li><a href="{% url 'issues:list' %}">Issue</a></li>
  <li><a href="{% url 'portfolio:list' %}">Project</a></li>
  <li><a class="active" href="{% url 'articles:list' %}">Note</a></li>
  <li style="float:right"><a href="{% url 'contact' %}">Contact</a></li>
</ul>


  <h2>Note List</h2>
  <div class="articles">
    {% for article in articles %}
      <div class="article">
        <h3 style = "text-align: center"><a href="{% url 'articles:detail' article.slug %}">{{ article.title }}</a></h3>
        <p><img src="{{article.thumb.url}}"></p>
        <p style = "font-size: 22px">{{ article.shortbody }}</p>
        <p style = "font-size: 14px" >{{ article.date }}</p>
        <p style = "font-size: 14px" class="author">posted by Yuni{{article.author.username}}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
