{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a class="active" href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'issues:list' %}">Issue</a></li>
    <li><a href="{% url 'portfolio:list' %}">Project</a></li>
    <li><a href="{% url 'articles:list' %}">Note</a></li>
    <li style="float:right"><a href="{% url 'contact' %}">Contact</a></li>
  </ul>


  <h2>About me</h2>

  <div><img class="aboutimg" src="{% static 'about.jpg' %}"></div>
  <div class="about-info">
    <h3> MY NAME IS YOUNHEE PARK, </h3>
    <p>Born in Busan, South Korea</p>
    <p>Currently living in Berlin</p>
    <p>Changed career from Nurse to Developer</p>
    <p>If you have any question, please<a target="_blank" href="{% url 'contact' %}">" CONTACT"</a>me</p>
    <p>Thanks</p>
  </div>


{% endblock %}
