

{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

  <!-- NAV bar -->
<div class="navbar-extends">
  <ul>
    <li><a class="active" href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'issues:list' %}">Issue</a></li>
    <li><a href="{% url 'portfolio:list' %}">Project</a></li>
    <li><a href="{% url 'articles:list' %}">Note</a></li>
    <li style="float:right; margin-right:30px;"><a href="{% url 'contact' %}">Contact</a></li>
  </ul>
</div>
  <!-- NAV bar end-->


  <!-- container1 -->
  <div class="container-fluid bg-1 text-center">
    <p style="font-size: 60px" >Hello,</p>
    <p style="font-size: 60px">I'm Younhee</p>
  </div>
  <!-- container2-->
  <div class="container-fluid bg-2 text-center">
    <h3>I am looking for</h3>
    <p style="font-size: 20px;">A great, enthusiastic team to work for that will provide me with challenging, interesting work that I can learn from and contribute to. <br>
      I'd like to contribute to the health related field but that is not a must.<br></p>
      <a href="{% url 'about' %}" class="btn btn-outline-dark">See more About ME</a>
  </div>
  <!-- container3 -->
  <div class="container-fluid bg-3 text-center">
    <!-- row 2 -->
    <div class="row">
      <!-- 3 columns card -->
      <div class="card-deck text-black" style= "margin: 0 auto;">
        <div class="card">
          <img src="{% static 'portfolio.jpg' %}" class="card-img-top">
          <div class="card-body" style="background-color: #c2baa3;">
            <h2 class="card-title">PORTFOLIO</h2>
            <p style="font-size: 18px" class="card-text">About my projects</p>
          </div>
          <div class="card-footer" style="background-color: #c2baa3;">
            <small class="text-muted" >
              <a href="{% url 'portfolio:list' %}" class="btn btn-outline-dark">See Portfolio</a>
              <a href="https://www.github.com/newnny" class="btn btn-outline-dark">See Github</a>
            </small>
          </div>
        </div>

        <div class="card">
          <img src="{% static 'issue.jpg' %}" class="card-img-top">
          <div class="card-body" style="background-color: #c2baa3;">
            <h2 class="card-title">ISSUE</h2>
            <p style="font-size: 18px" class="card-text">Life style journal</p>
            <p style="font-size: 18px" class="card-text">Aim to issue every 4 month with contents of all about life</p>
          </div>
          <div class="card-footer" style="background-color: #c2baa3;">
            <small class="text-muted">
              <a href="{% url 'issues:list' %}" class="btn btn-outline-dark">See Issue</a>
            </small>
          </div>
        </div>

        <div class="card">
          <img src="{% static 'note.jpg' %}" class="card-img-top">
          <div class="card-body" style="background-color: #c2baa3;">
            <h2 class="card-title">NOTES</h2>
            <p style="font-size: 18px" class="card-text">Collecting inspiring articles</p>
            <p style="font-size: 18px" class="card-text">Writing thoughts and Memorizing moments</p>
          </div>
          <div class="card-footer" style="background-color: #c2baa3;">
            <small class="text-muted">
              <a href="{% url 'articles:list' %}" class="btn btn-outline-dark">See Notes</a>
            </small>
          </div>
        </div>

      </div>
      <!-- 3 columns card end -->
    </div>
    <!-- row 2 end -->
  </div>

  <!-- container end-->

{% endblock %}
