{% extends 'base_layout.html' %}
{% load static %}

{% block content %}


  <ul>
    <li><a class="active" href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'issues:list' %}">Issue</a></li>
    <li><a href="{% url 'portfolio:list' %}">Project</a></li>
    <li><a href="{% url 'articles:list' %}">Note</a></li>
    <li style="float:right"><a href="{% url 'contact' %}">Contact</a></li>
  </ul>

  <img class="header" src="{% static 'monstera.jpg' %}"/>

  <h2> </h2>

  <p></p>

  <div class="category">
    <div class="cat">
      <a href="{% url 'issues:list' %}"><img src="{% static 'issue.jpg' %}"> ISSUES </a></div>
    <div class="cat">
      <a href="{% url 'portfolio:list' %}"><img src="{% static 'office.jpg' %}"> PROJECTS </a></div>
    <div class="cat">
      <a href="{% url 'articles:list' %}"><img src="{% static 'notess.jpg' %}"> PERSONAL NOTES </a></div>
  </div>

{% endblock %}
