{% extends 'base_layout.html' %}
{% load static %}

{% block content %}


  <ul>
    <li><a class="active" href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'issues:list' %}">Issue</a></li>
    <li><a href="{% url 'portfolio:list' %}">Project</a></li>
    <li><a href="{% url 'articles:list' %}">Note</a></li>
    <li style="float:right"><a href="{% url 'contact' %}">Contact</a></li>
  </ul>

  <img class="header" src="{% static 'mainpage.jpg' %}"/>
  <div class="home-info">
    <p>여유:YEOYU</p>
    <p>It means having residual space in your mind so that you can think or behave more generously </p>
    <p>Hope we all have more 여유:YEOYU in our life</p>
  </div>

  <img class ="main-issue" src="{% static 'issues.jpg' %}">
  <div class="issue-info">
    <h2>ISSUE</h2>
    <p>Life style journal</p>
    <p>aim to issue every 4 month</p>
    <p>with contents of all about our life</p>

  </div>

  <img class ="main-port" src="{% static 'portfolio.jpg' %}">
  <div class="port-info">
    <h2>PORTFOLIO</h2>
    <p>About my projects</p>
  </div>

  <img class = "main-note" src="{% static 'note.jpg' %}" >
  <div class="note-info">
    <h2>NOTES</h2>
    <p>Collecting articles</p>
    <p>Writing articles</p>
  </div>
  <p></p>

{% endblock %}
